# Ignore compiled python files.
*.pyc

# Ignore temporary files.
*.bak

# Ignore the tmp folder.
/tmp/

# Ignore the data folder.
/data/

# Ignore the build folder.
build/

# Ignore the dist folder.
/dist/

# Ignore the test_results folder.
/test_results/

# Ignore the coverage folder
.coverage

# Ignore the MANIFEST file.
MANIFEST

# Ignore the .swp file
*.swp

# Ignore build files.
*.o
*.so
*.dll

# Ignore some doc folders
/doc/source_doc/build/
/doc/source_doc/source/autogen/
/doc/user_doc/build/

# Ignore miniseed data files
.msd

# Ignore the egg installation folder.
psysmon.egg-info/


# Ignore custom packages.
lib/psysmon/packages/seismicsculpture
lib/psysmon/packages/seismogram_intaglio

